.vscode
*.gmo
*.la
*.lo
*.swp
*.tar.*
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/*.desktop
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
stamp-*
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
