.vscode
*~
*.gmo
*.la
*.lo
*.swp
*.tar.*
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
panel-plugin/*.desktop
po/Makefile.in.in
po/POTFILES
stamp-*
config.*
configure
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-genmon-plugin.pot
